<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>唯品会网络请求刷新动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A14753B01C07122A00037B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A14753C91C07122B00037B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A14753D41C07122B00037B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
